.backg {
    height: 825px;
    width: 100%;
}
.head {
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.imge {
    
    width: 100%;
    display: flex;
}

.container {
    display: block;
    align-items: center;
    padding-left: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.container h1 {
    justify-content: center;
}